<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
 <div style="position: relative; top: 50%; transform: translateY(-50%);">
  <h1 style="color: white;">Hi. How can we help you?</h1>
  <div class="hero-inner">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
 </div>
</section>

<div class="container">

  <section class="blocks">
    <ul class="blocks-list">
      <li class="blocks-item">
        <a href='https://pwsafe.app/assistant' class="blocks-item-link">
          <span class="blocks-item-title">
            <!-- https://uxwing.com/speaking-bubbles-line-icon/ added fill="currentColor" changed width/height -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6em" height="2em" viewBox="0 0 122.88 102.85" enable-background="new 0 0 122.88 102.85" xml:space="preserve"><g><path d="M122.88,35.619v28.67c0,2.608-0.466,5.046-1.4,7.315c-0.933,2.264-2.322,4.319-4.174,6.169 c-0.802,0.797-1.645,1.511-2.526,2.14c-0.906,0.646-1.832,1.194-2.777,1.644c-0.05,0.024-0.101,0.047-0.152,0.067 c-1.21,0.563-2.47,0.986-3.779,1.271c-1.357,0.295-2.763,0.443-4.215,0.443h-8.544h-0.017h-0.017h-0.018h-0.017h-0.456 c0.181,0.577,0.37,1.149,0.566,1.716c0.555,1.603,1.18,3.182,1.875,4.731l0.01,0.021l0.001-0.001 c0.626,1.431,1.464,2.826,2.509,4.186c1.077,1.402,2.394,2.792,3.945,4.167c1.109,0.982,1.213,2.678,0.231,3.787 c-0.691,0.781-1.736,1.063-2.682,0.819v0.001c-3.333-0.864-6.479-1.944-9.443-3.236c-2.965-1.292-5.762-2.807-8.393-4.54 l-0.005,0.008c-2.613-1.709-5.059-3.633-7.331-5.768c-1.925-1.81-3.724-3.773-5.392-5.892h-0.908h-0.017h-0.017h-0.018h-0.017 h-8.543c-1.779,0-3.482-0.222-5.108-0.661c-1.628-0.44-3.18-1.109-4.652-2.003c-1.266-0.767-1.671-2.415-0.905-3.682 c0.767-1.267,2.415-1.671,3.682-0.904c1.009,0.612,2.097,1.077,3.264,1.393c1.16,0.313,2.4,0.472,3.72,0.472h8.543h0.017h0.018 h0.017h0.017h2.222v0.011c0.814,0,1.619,0.371,2.146,1.072c1.695,2.264,3.567,4.358,5.614,6.281 c2.021,1.899,4.222,3.627,6.595,5.179l-0.006,0.008l0.006,0.003c2.254,1.485,4.672,2.803,7.254,3.95 c-0.487-0.827-0.916-1.662-1.285-2.505h0.001c-0.736-1.644-1.415-3.363-2.034-5.151c-0.589-1.7-1.116-3.447-1.582-5.235 c-0.104-0.287-0.161-0.597-0.161-0.92c0-1.487,1.206-2.692,2.692-2.692h4.011h0.017h0.018h0.017h0.017h8.544 c1.082,0,2.108-0.105,3.078-0.316c0.923-0.2,1.801-0.493,2.632-0.876c0.04-0.021,0.081-0.042,0.123-0.063 c0.702-0.334,1.361-0.721,1.978-1.16c0.642-0.458,1.261-0.981,1.854-1.571c1.34-1.34,2.338-2.807,2.995-4.401 c0.654-1.588,0.98-3.347,0.98-5.275v-28.67c0-1.917-0.326-3.669-0.98-5.255c-0.657-1.592-1.655-3.059-2.995-4.399l0,0l-0.011-0.01 c-1.34-1.341-2.807-2.338-4.398-2.995c-1.586-0.654-3.338-0.98-5.255-0.98h-7.702h-5.612c-1.487,0-2.693-1.206-2.693-2.693 c0-1.487,1.206-2.693,2.693-2.693h5.612h7.702c2.597,0,5.028,0.466,7.295,1.401c2.256,0.931,4.309,2.317,6.155,4.163l0.006,0.005 l0.005,0.005l0.002,0.002c1.845,1.847,3.23,3.898,4.161,6.153C122.414,30.589,122.88,33.021,122.88,35.619L122.88,35.619z M48.405,5.386H32.34H19.025c-1.917,0-3.669,0.326-5.255,0.98c-1.592,0.657-3.059,1.655-4.399,2.995l-0.01,0.011l0,0 c-1.341,1.34-2.338,2.807-2.995,4.399c-0.654,1.586-0.98,3.338-0.98,5.255v28.67c0,1.929,0.326,3.687,0.98,5.276 c0.657,1.595,1.655,3.062,2.995,4.401c1.348,1.339,2.822,2.341,4.421,3.002c1.584,0.654,3.332,0.984,5.243,0.984h12.621 c1.487,0,2.693,1.205,2.693,2.692c0,0.323-0.057,0.633-0.161,0.92c-0.465,1.787-0.993,3.535-1.582,5.235 c-0.62,1.788-1.297,3.508-2.034,5.151h0c-0.369,0.843-0.797,1.678-1.285,2.505c2.583-1.147,5-2.465,7.255-3.95l0.005-0.003 l-0.005-0.008c2.373-1.552,4.573-3.279,6.595-5.18c2.047-1.922,3.919-4.018,5.614-6.28c0.526-0.702,1.331-1.072,2.146-1.073v-0.01 h10.833c1.911,0,3.659-0.33,5.243-0.984c1.599-0.661,3.073-1.663,4.422-3.002c1.34-1.34,2.338-2.807,2.995-4.401 c0.653-1.589,0.979-3.347,0.979-5.276v-28.67c0-1.917-0.326-3.669-0.979-5.255c-0.657-1.592-1.655-3.059-2.995-4.399l-0.011-0.011 l0,0c-1.341-1.34-2.807-2.338-4.399-2.995c-1.586-0.654-3.338-0.98-5.255-0.98H48.405L48.405,5.386z M32.34,0h16.065h13.314 c2.597,0,5.029,0.466,7.296,1.401c2.255,0.93,4.307,2.316,6.153,4.161l0.002,0.001l0.005,0.006l0.006,0.005 c1.845,1.848,3.231,3.899,4.162,6.156c0.936,2.267,1.401,4.699,1.401,7.295v28.67c0,2.608-0.466,5.046-1.401,7.316 c-0.932,2.264-2.322,4.318-4.173,6.169c-1.849,1.836-3.905,3.225-6.167,4.159c-2.262,0.934-4.69,1.404-7.284,1.404H52.2 c-1.669,2.118-3.467,4.083-5.392,5.892c-2.273,2.136-4.718,4.06-7.332,5.769l-0.004-0.008c-2.632,1.733-5.428,3.248-8.393,4.54 c-2.964,1.292-6.11,2.372-9.443,3.236v-0.001c-0.945,0.244-1.991-0.038-2.683-0.819c-0.981-1.11-0.878-2.806,0.232-3.787 c1.552-1.375,2.868-2.765,3.946-4.167c1.045-1.359,1.882-2.755,2.509-4.186h0.001l0.009-0.021c0.695-1.549,1.32-3.128,1.875-4.73 c0.196-0.567,0.385-1.139,0.566-1.717h-9.067c-2.594,0-5.022-0.471-7.283-1.404c-2.263-0.935-4.319-2.324-6.167-4.159 c-1.851-1.851-3.241-3.905-4.173-6.169C0.466,52.742,0,50.304,0,47.696v-28.67c0-2.597,0.466-5.029,1.401-7.295 c0.931-2.255,2.316-4.307,4.161-6.154l0.002-0.002l0.005-0.005l0.005-0.006c1.847-1.845,3.899-3.231,6.155-4.162 C13.997,0.466,16.429,0,19.025,0H32.34L32.34,0z" fill="currentColor"/></g></svg>
            <br>Chat with Assistant
          </span>
          <span class="blocks-item-description">Instant solutions to common issues. Monitored and constantly improved by our staff.</span>
        </a>
      </li>
      <li class="blocks-item">
        <a href='/hc/en-us/community/topics/32671095995028' class="blocks-item-link">
          <span class="blocks-item-title">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="6em" height="2em" viewBox="0 -1.6 122.88 66.6"><title>friends-group</title><path d="M16.59,25.38c-5,.21-10.13,4.52-13.16,10.93A26.58,26.58,0,0,0,.88,46.92a80.56,80.56,0,0,0-.88,12c1,6.16,8.79,4.34,9.46,0l.95-12.42a13.68,13.68,0,0,1,1-4.93,8.18,8.18,0,0,1,1.29-2.15l.46,22.69L12.93,64H34.42l-.29-2.11.42-25a16.82,16.82,0,0,1,5.88-1.36q-.24.47-.48,1a27.81,27.81,0,0,0-2.67,11.14,84.62,84.62,0,0,0-.93,12.62c1,6.47,9.23,4.56,9.93,0l1-13A14.38,14.38,0,0,1,48.36,42a9,9,0,0,1,1.36-2.26l.49,22.63-.33,2.32H72.54l-.35-2.55.35-19.31v.4l.08-3.49A9.33,9.33,0,0,1,74,42a14.38,14.38,0,0,1,1.08,5.18l1,13c1,6.22,9.93,6.35,9.93,0a84.59,84.59,0,0,0-.92-12.62,28,28,0,0,0-2.68-11.14c-.16-.33-.31-.65-.47-1a16.38,16.38,0,0,1,6.42,1.37l.42,25L88.46,64H110l-.27-1.89.47-22.69a8.18,8.18,0,0,1,1.29,2.15,13.68,13.68,0,0,1,1,4.93l1,12.42c.67,4.34,8.48,6.16,9.46,0a80.56,80.56,0,0,0-.88-12,26.58,26.58,0,0,0-2.55-10.61c-3-6.41-8.2-10.72-13.16-10.93A164.55,164.55,0,0,0,81,25c-3.38.26-6.79.49-9.19.83a16.61,16.61,0,0,0-3.34-.71c-4-.33-10.62,0-14.59-.08a18.41,18.41,0,0,0-3.21.72c-2.37-.33-5.56-.6-8.73-.76a225.25,225.25,0,0,0-25.32.34ZM99.29,1.3a11.14,11.14,0,1,0,11.14,11.14A11.13,11.13,0,0,0,99.29,1.3ZM61.2,0A11.7,11.7,0,1,1,49.51,11.69,11.7,11.7,0,0,1,61.2,0ZM23.58,1.3A11.14,11.14,0,1,1,12.45,12.44,11.14,11.14,0,0,1,23.58,1.3Z" fill="none" stroke="currentColor" stroke-width="3.15"/></svg>
            <br>Community Forum
          </span>
          <span class="blocks-item-description">A space for general discussions, tips, and sharing experiences among users of pwSafe.</span>
        </a>
      </li>
      <li class="blocks-item">
        <a href='/hc/en-us/community/topics/200216336-pwSafe-Feature-Requests' class="blocks-item-link">
          <span class="blocks-item-title">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="6em" height="2em" viewBox="0 0 114.1 122.88"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>bulb</title><path class="cls-1" d="M75.84,27.1a35.68,35.68,0,0,1,8.61,7.09,32.45,32.45,0,0,1,5.76,9.26h0a36.84,36.84,0,0,1,1.85,6,34.64,34.64,0,0,1,.24,14,38.69,38.69,0,0,1-2.15,7.32l-.12.25c-2.06,5-5.59,9.86-9,14.66-1.75,2.42-3.48,4.82-4.94,7.15A4.69,4.69,0,0,1,71.73,95l-27.56,4.1A4.7,4.7,0,0,1,39,95.69a40.19,40.19,0,0,0-2.54-5.82,24.85,24.85,0,0,0-3-4.49c-1.43-1.63-2.88-3.29-4.29-5.2A40.42,40.42,0,0,1,25,73.24h0a41.08,41.08,0,0,1-2.81-8,35.84,35.84,0,0,1-.95-8.45v0A35.39,35.39,0,0,1,22.35,48a41.69,41.69,0,0,1,3.42-8.85l.2-.35a35.55,35.55,0,0,1,7.13-8.63,33.72,33.72,0,0,1,9.46-5.83l.28-.1a35.41,35.41,0,0,1,8-2.14,37.78,37.78,0,0,1,8.77-.2,39.14,39.14,0,0,1,8.4,1.71,38.44,38.44,0,0,1,7.79,3.49Zm-4,87.26a17.37,17.37,0,0,1-6.28,6.29,16.46,16.46,0,0,1-7.2,2.2A14.87,14.87,0,0,1,51,121.4a15.1,15.1,0,0,1-4.39-3.27l25.29-3.77Zm2.41-14.15,0,1.65,0,.58a22,22,0,0,1,0,3.25l-.49,2.39-30.64,4.56-.54-1.23-1.19-4.9,0-1.42,32.79-4.88ZM56.34,3.77A3.84,3.84,0,0,1,60.23,0h0l.27,0A3.84,3.84,0,0,1,64,3.89h0a1.27,1.27,0,0,1,0,.2l-.21,8.21h0a2.11,2.11,0,0,1,0,.26,3.84,3.84,0,0,1-3.87,3.54h0l-.27,0a3.84,3.84,0,0,1-3.53-3.88h0a1.09,1.09,0,0,1,0-.19l.2-8.25ZM14,18.15a3.84,3.84,0,0,1,2.47-6.66,3.83,3.83,0,0,1,2.76,1l6.16,5.73a3.91,3.91,0,0,1,1.22,2.68,3.82,3.82,0,0,1-1,2.76,3.86,3.86,0,0,1-2.67,1.22,3.8,3.8,0,0,1-2.76-1L14,18.15ZM3.92,60.48A3.86,3.86,0,0,1,0,56.75a3.84,3.84,0,0,1,3.73-4l8.41-.28a3.84,3.84,0,0,1,4,3.72v.06h0v.14a3.84,3.84,0,0,1-3.73,3.77h-.15l-8.3.27Zm106-11.92H110a3.84,3.84,0,0,1,2.66.86,3.81,3.81,0,0,1,1.4,2.59v0a.49.49,0,0,1,0,.13,3.84,3.84,0,0,1-3.44,4.06l-8.37.89a3.83,3.83,0,0,1-2.81-.85,3.84,3.84,0,0,1,2-6.8c2.79-.31,5.6-.63,8.4-.9ZM93.33,15.09A3.83,3.83,0,0,1,98.65,14h0a3.73,3.73,0,0,1,1.63,2.44,3.84,3.84,0,0,1-.58,2.88l-4.68,7A3.8,3.8,0,0,1,92.58,28a3.88,3.88,0,0,1-2.88-.57A3.92,3.92,0,0,1,88.06,25a3.84,3.84,0,0,1,.58-2.88l4.69-7ZM38.23,80.87A42.19,42.19,0,0,1,31,70.56,31.2,31.2,0,0,1,27.89,57,31.7,31.7,0,0,1,31.7,42.56a.47.47,0,0,0,.05-.1h0a27.5,27.5,0,0,1,13.4-11.71,29.65,29.65,0,0,1,13.93-2A32.09,32.09,0,0,1,72.39,33,27.43,27.43,0,0,1,84,46.2,28.85,28.85,0,0,1,84,68.45C81.31,75,75.15,82,71.11,88.4a1.67,1.67,0,0,0-.67,0L44.36,92.25a35,35,0,0,0-6.13-11.38Z" fill="currentColor"/></svg>
            <br>Feature Requests
          </span>
          <span class="blocks-item-description">Ideas and requests for new features. Suggest ideas. Vote for the best. See what's planned.</span>
        </a>
      </li>
    </ul>
  </section>

  <section class="section knowledge-base">
    <!--
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <span class="blocks-item-title">{{name}}</span>
                <span class="blocks-item-description">{{excerpt description}}</span>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <span class="blocks-item-title">
                    {{name}}
                  </span>
                  <span class="blocks-item-description">{{excerpt description}}</span>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
    -->

    {{#if promoted_articles}}
      <section class="articles">
        <h2>{{t 'promoted_articles'}}</h2>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                      <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                      <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                    </svg>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
  
  <section class="section blocks">
    <h2>Need more help?</h2>
    <ul class="blocks-list">
      <li class="blocks-item">
        <a href='/hc/en-us/requests/new' class="blocks-item-link">
          <span class="blocks-item-title">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="6em" height="2em" viewBox="0 0 122.88 112.04"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>writing</title><path class="cls-1" d="M109.28,19.61l12.21,9.88a3.77,3.77,0,0,1,.56,5.29l-5.46,6.75L98.53,26.93,104,20.17a3.79,3.79,0,0,1,5.29-.56ZM21.07,30.81a3.18,3.18,0,0,1,0-6.36H74.12a3.18,3.18,0,0,1,0,6.36ZM9.49,0H85.71A9.53,9.53,0,0,1,95.2,9.49v5.63l-4.48,5.53a9.81,9.81,0,0,0-1.18,1.85c-.24.19-.48.4-.71.62V9.49a3.14,3.14,0,0,0-3.12-3.13H9.49A3.14,3.14,0,0,0,6.36,9.49v93.06a3.16,3.16,0,0,0,.92,2.21,3.11,3.11,0,0,0,2.21.92H85.71a3.12,3.12,0,0,0,3.12-3.13V88.2l1.91-.81a10,10,0,0,0,4.34-3.13l.12-.14v18.43A9.54,9.54,0,0,1,85.71,112H9.49A9.51,9.51,0,0,1,0,102.55V9.49A9.53,9.53,0,0,1,9.49,0ZM21.07,87.6a3.19,3.19,0,0,1,0-6.37H56.19a37.1,37.1,0,0,0-.3,6.37Zm0-18.93a3.19,3.19,0,0,1,0-6.37H59.22l0,.27-1.05,6.1Zm0-18.93a3.18,3.18,0,0,1,0-6.36H72.44l-5.11,6.36ZM87.25,78,74.43,83.47c-9.35,3.47-8.93,5.43-8-3.85L69.24,63.4h0l0,0,26.56-33,18,14.6L87.27,78ZM72.31,65.89l11.86,9.59-8.42,3.6c-6.6,2.83-6.42,4.23-5.27-2.53l1.83-10.66Z" fill="currentColor"/></svg>
            <br>Submit Support Request
          </span>
          <span class="blocks-item-description">If the resources above didn’t answer your question, we're here to assist you!</span>
        </a>
      </li>
      <li class="blocks-item">
        <a href='mailto:support@pwsafe.app' class="blocks-item-link">
          <span class="blocks-item-title">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6em" height="2em" viewBox="0 0 122.879 88.855" enable-background="new 0 0 122.879 88.855" xml:space="preserve"><g><path d="M7.048,0h108.784c1.939,0,3.701,0.794,4.977,2.069c1.277,1.277,2.07,3.042,2.07,4.979v74.759 c0,1.461-0.451,2.822-1.221,3.951c-0.141,0.365-0.361,0.705-0.662,0.994c-0.201,0.189-0.422,0.344-0.656,0.461 c-1.225,1.021-2.799,1.643-4.508,1.643H7.048c-1.937,0-3.701-0.793-4.979-2.07C0.794,85.51,0,83.748,0,81.807V7.048 c0-1.941,0.792-3.704,2.068-4.979C3.344,0.792,5.107,0,7.048,0L7.048,0z M5.406,78.842l38.124-38.22L5.406,9.538V78.842 L5.406,78.842z M47.729,44.045L8.424,83.449h105.701L76.563,44.051L64.18,54.602l0,0c-0.971,0.83-2.425,0.877-3.453,0.043 L47.729,44.045L47.729,44.045z M80.674,40.549l36.799,38.598V9.198L80.674,40.549L80.674,40.549z M8.867,5.406l53.521,43.639 l51.223-43.639H8.867L8.867,5.406z" fill="currentColor"/></g></svg>
            <br>Send an Email
          </span>
          <span class="blocks-item-description">Some people just prefer email. We have you covered.</span>
        </a>
      </li>
    </ul>
  </section>

<!--
  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}
-->

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
